@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .App {
        @apply font-openSans;
    }
}

@layer components {
    .passenger-scroll-container::-webkit-scrollbar {
        height: 8px;
    }
    
    .passenger-scroll-container::-webkit-scrollbar-track {
        background: #2d2d2d; 
        border-radius: 4px;
    }
    
    .passenger-scroll-container::-webkit-scrollbar-thumb {
        background: #555; 
        border-radius: 4px;
    }
    
    .passenger-scroll-container {
        scrollbar-width: thin;
        scrollbar-color: #555 #2d2d2d;
        scroll-behavior: smooth;
    }
}

@layer utilities {
    @keyframes slideInFromBottom {
        0% {
            height: 35px;
        }
        100% {
            height: 33%;
        }
    }

    @keyframes slideInFromBottom2 {
        0% {
            height: 35px;
        }
        100% {
            height: 66%;
        }
    }

    @keyframes slideOutToBottom {
        0% {
            height: 33%; 
        }
        100% {
            height: 35px; 
        }
    }

    @keyframes slideOutToBottom2 {
        0% {
            height: 66%; 
        }
        100% {
            height: 35px; 
        }
    }
    
    .slide-in {
        animation: slideInFromBottom 0.7s ease-out forwards;
    }

    .slide-in2 {
        animation: slideInFromBottom2 0.7s ease-out forwards;
    }

    .slide-out {
        animation: slideOutToBottom 0.7s ease-in forwards;
    }

    .slide-out2 {
        animation: slideOutToBottom2 0.7s ease-in forwards;
    }
}